{% extends 'app/admin/base1.html' %}
{% block content %}
<div>
    <center>
        <form method="POST" action="{% url 'news_add' %}">
        {% csrf_token %}
            <label for="news">Add News From Here</label><br>
            <input type="text" name="news" placeholder="Title of News" style="border-color: green;"><br>
            <input type="submit" value="Add">
          </form>
    </center>
</div>
<div class="container-fluid">
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Total News Added</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title of news</th>
                            <th>Added at</th>
                            <th>Updated at</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in user_list %}
                        <tr>
                            <td>{{user.id}}</td>
                            <td>{{user.news}}</td>
                            <td>{{user.is_created}}</td>
                            <td>{{user.is_updated}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}



