{% extends 'app/admin/base1.html' %}
{% block content %}
<div>
    <center>
        <form method="POST" action="{% url 'addingschemes' %}">
        {% csrf_token %}
            <label for="news">Add Schemes From Here</label><br>
            <input type="text" name="title" placeholder="Title of Schemes" style="border-color: green;"><br>
            <input type="date" name="publishdate" placeholder="Published Date" style="border-color: green;"><br>
            <input type="text" name="link2" placeholder="Add links" style="border-color: green;"><br>
            <input type="submit" value="Add">
          </form>
    </center>
</div>
<div class="container-fluid">
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Total Schemes Added</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title of Scheme</th>
                            <th>Publish Date</th>
                            <th>Link</th>
                            <th>Added At</th>
                            <th>Updated At</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in schemes_list %}
                        <tr>
                            <td>{{user.id}}</td>
                            <td>{{user.title}}</td>
                            <td>{{user.publishdate}}</td>
                            <td>{{user.link2}}</td>
                            <td>{{user.is_created}}</td>
                            <td>{{user.is_updated}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}



