{% extends 'app/admin/base1.html' %}
{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Total Registred Farmers</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Contact</th>
                                            <th>Vellage</th>
                                            <th>Taluka</th>
                                            <th>Area</th>
                                            <th>Equipment </th>
                                        </tr>
                                    </thead>
                                    <!-- <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot> -->
                                    <tbody>
                                    {% for user in user_list %}
                                        <tr>
                                            <th>{{ user.id }}</th>
                                            <th>{{ user.firstname }}</th>
                                            <th>{{ user.lastname }}</th>
                                            <th>{{ user.contact }}</th>
                                            <th>{{ user.village }}</th>
                                            <th>{{ user.taluka }}</th>
                                            <th>{{ user.area }}</th>
                                            <th>{{ user.equipment }}</th>
                                            <td><form action="{% url 'delete_service_p' pk=user.id %}" method="POST" >{% csrf_token %}<input type="submit" value="Delete" style="background-color: red;color: white;"></form></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% endblock %}